Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Fix lint
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/example_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test propagation
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test WithAttributes added to all spans
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/elastic_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint issue
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update name to conform with DB semantics
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/internal/main.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Prune schema.json
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/internal/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/internal/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update name doc
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Ensure nonePropagator is not wrapped in composite
  distro/config.go
  distro/config_test.go
  distro/otel.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update README with explicit supported versions
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

End span immediately when RoundTrip returns
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/elastic_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix tokenize build func doc
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add gopkg.in/olivere/elastic instrumentation (#311)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/README.md
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/example_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.sum
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/internal/main.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/internal/schema.json
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/option.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/doc.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.sum
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

go mod tidy
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Release v0.7.0
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  version.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix versions
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Include baggage context propagation in README docs
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Explain WithEndpoint envar opts
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.sum
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update release date
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Release v0.7.0 (#319)
  CHANGELOG.md
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  version.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Apply suggestions from code review
  README.md
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Apply feedback
  distro/README.md
  distro/config.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Comment future plan to log envar parse error
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Document how invalid envar is handled
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Remove duplicate set of global TextMapPropagator
  distro/otel.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Clean up docs
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Remove config validation
  distro/config.go
  distro/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Remove unused Propagator field from exporterConfig
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test the OTLP exporter setup
  distro/otel_test.go
  go.mod
  go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add WithTLSConfig option
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add WithTLSConfig docs to distro/README.md
  distro/README.md
  distro/config.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Move exporter init to own file
  distro/config.go
  distro/exporter.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint
  distro/config.go
  distro/config_test.go
  distro/otel.go
  distro/otel_test.go
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.sum
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
