Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Doc NewWrapperFunc func
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Make RoundTrip spans client kind
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Do no end the span until the body is closed
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use http.NoBody instead of nil for tests
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test the wrappedBody
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test for NewWrapperFunc nil value
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Make lint fixes
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/example_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update mergedSpanStartOptions tests
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Rename Config Propagators field and add test
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add integration test
  .github/dependabot.yml
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/splunkclient-go_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Refactor tests and add one for span error
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/splunkclient-go_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Set Propagator if unspecified to OTel global
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test for RoundTripper erring
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Ignore bodyclose lint error
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test for default config propagator
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Increase golangci-lint timeout to 2 minutes
  build/pipeline.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Initial idea to abstract Config internally
  go.mod
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
  instrumentation/internal/doc.go
  instrumentation/internal/option.go
  instrumentation/internal/option_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add Propagator to Config
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
  instrumentation/internal/option.go
  instrumentation/internal/option_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test the Config.Copy method
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test for WithSpan
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix nil Config bug for mergedSpanStartOptions
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Move WithTracerProvider test to option_test
  instrumentation/internal/config_test.go
  instrumentation/internal/option_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint issues
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
  instrumentation/internal/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Initial instrumentation layout
  .github/dependabot.yml
  README.md
  instrumentation/github.com/go-chi/chi/splunkchi/README.md
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
  instrumentation/github.com/go-chi/chi/splunkchi/example_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add initial config and instrumentation
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
  instrumentation/github.com/go-chi/chi/splunkchi/config.go
  instrumentation/github.com/go-chi/chi/splunkchi/config_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Implement instrumentation
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
  instrumentation/github.com/go-chi/chi/splunkchi/config.go
  instrumentation/github.com/go-chi/chi/splunkchi/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add integration tests
  .github/dependabot.yml
  instrumentation/github.com/go-chi/chi/splunkchi/test/chi_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Shutdown TracerProvider in tests
  instrumentation/github.com/go-chi/chi/splunkchi/test/chi_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update Middleware docs
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix example test
  instrumentation/github.com/go-chi/chi/splunkchi/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add example usage in splunkleveldb
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/iterator.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/snapshot.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction.go
  instrumentation/internal/config.go
  instrumentation/internal/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Adding Commit & Rollback and other fixes
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/example_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add missing WithSchemaURL to splunkleveldb
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use semconv keys instead of one-off strings
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/splunkclient-go_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add schema v1.7.0 URL to all instrumentation (#218)
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config_test.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add tests
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint issues
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
  instrumentation/internal/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add k8s.io/client-go instrumentation (#224)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  build/pipeline.go
  instrumentation/k8s.io/client-go/splunkclient-go/README.md
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/example_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/splunkclient-go_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
