Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

Add README.md
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add github.com/graph-gophers/graphql-go instrumentation (#232)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/README.md
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/example_test.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/graphql.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/internal/attribute.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/option.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/graphql_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add splunkhttprouter instrumentation (#273)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/README.md
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/example_test.go
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/httprouter.go
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/httprouter_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add test for openClose and WithContext
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add internal unit tests for DB
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test for WithContext with transaction
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Removed test OpenClose
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix Linter problem(s) with tests
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add tidwall/buntdb instrumentation (#228)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  build/pipeline.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/README.md
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/example_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/doc.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Initial instrumentation layout
  README.md
  instrumentation/github.com/gomodule/redigo/splunkredigo/README.md
  instrumentation/github.com/gomodule/redigo/splunkredigo/doc.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/example_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add options
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/option/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Initial conn instrumentation
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add tracing to conn instrumentation
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add dial functionality
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Address lint issues
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fill in example_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Start work on instrumentation for olivere/elastic
  instrumentation/github.com/olivere/elastic/splunkelastic/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add integration test module
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/doc.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Generate dependabot config
  .github/dependabot.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Check errors in example_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add integration tests
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/redis_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix syntax error in example_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Simplify splitAddress func sig
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add unit test for netAttributes
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Avoid shadow decl in redis_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/redis_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint issues
  instrumentation/github.com/gomodule/redigo/splunkredigo/example_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add tests for conn.go params method
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Restrict integration tests to linux systems
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/redis_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test conn inface implementations
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add Dial unit test
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Specify tested errors in dial_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update splunkbuntdb to use internal.Config
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config for splunkdns
  instrumentation/github.com/miekg/dns/splunkdns/client.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
  instrumentation/github.com/miekg/dns/splunkdns/dns.go
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/handler.go
  instrumentation/github.com/miekg/dns/splunkdns/option.go
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config for splunkkafka
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/consumer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/consumer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/producer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add build guards back to config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config in splunksql
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/config_test.go
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/database/sql/splunksql/trace.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers
