Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

Apply suggestions from code review
  CONTRIBUTING.md
  README.md
  docs/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Rename var
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Replace use of deprecated objects
  CHANGELOG.md
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/graphql.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  example/client/go.sum
  example/server/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Address comments from other PR
  example/client/main.go
  example/server/go.mod
  example/server/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Make the example smaller, developer focused
  README.md
  example/README.md
  example/clean.sh
  example/client/go.mod
  example/client/main.go
  example/docker-compose.yaml
  example/go.mod
  example/go.sum
  example/main.go
  example/run.sh
  example/server/go.mod
  example/server/go.sum
  example/server/main.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix Table of Contents
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update dependabot.yml
  .github/dependabot.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

nolint: gomnd
  example/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Refactor
  example/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade all go.opentelemetry.io/contrib dependencies
  distro/go.mod
  distro/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Rename docs/releasing.md to docs/internal/releasing.md
  docs/internal/releasing.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Rename docs/internal/releasing.md to RELEASING.md
  RELEASING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Restructure docs (#853)
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/advanced-config.md
  docs/migrating.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add a HTTP instrumentation example (#729)
  .github/dependabot.yml
  README.md
  example/README.md
  example/docker-compose.yaml
  example/go.mod
  example/go.sum
  example/main.go
  example/otel-config.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Defer to exporter TLS for OTEL envar
  distro/exporter.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add jaeger receiver to OTel Collector
  example/docker-compose.yaml
  example/otel-config.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use TLS conns to external endpoints (#792)
  CHANGELOG.md
  distro/exporter.go
  distro/exporter_test.go
  example/docker-compose.yaml
  example/otel-config.yaml
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update config.go
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update README.md
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update README.md
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Refine exporter docs (#929)
  distro/README.md
  distro/config.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update nolint comments
  instrumentation/database/sql/splunksql/conn_test.go
  instrumentation/database/sql/splunksql/stmt.go
  instrumentation/database/sql/splunksql/stmt_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use newer and official markdownlint-cli container image
  build/pipeline.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Minmize distro API
  distro/README.md
  distro/config.go
  distro/config_test.go
  distro/exporter.go
  distro/exporter_test.go
  distro/otel_test.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Bring back WithTLSConfig
  distro/config.go
  distro/exporter.go
  distro/exporter_test.go
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Little fix
  distro/exporter.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Comment noneEnvVarSet
  distro/exporter.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers
