Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Resolve lint issues
  instrumentation/github.com/go-chi/chi/splunkchi/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Go 1.16
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Unify the Config type across instrumentation (#226)
  go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/iterator.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/snapshot.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction.go
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
  instrumentation/internal/doc.go
  instrumentation/internal/option.go
  instrumentation/internal/option_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config instead of local
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
  instrumentation/github.com/go-chi/chi/splunkchi/config.go
  instrumentation/github.com/go-chi/chi/splunkchi/config_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Initial splunkgraphql module layout
  .github/dependabot.yml
  README.md
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/README.md
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Initial instrumentation
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/graphql.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Apply suggestions from code review
  CHANGELOG.md
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/example_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix problems from CI with go mod tidy
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/example_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix go linter errors
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/example_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fixing tests: database operation name
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert changes related to other module
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add dependabot action to CI
  .github/dependabot.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Change wrapper function signature so it can be usable outside
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix go.sum files
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add error_test
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add start to integration tests
  .github/dependabot.yml
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/graphql.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/internal/tags.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/graphql_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update instrumentation/github.com/tidwall/buntdb/splunkbuntdb/example_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fixes after code review
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add information about instrumentation to README.md
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade OTel v1.3.0/v0.28.0
  go.mod
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/net/http/splunkhttp/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Codereview: Test use WithTraceProvider instead of global one
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Code review: fix tests
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Go mod tidy
  go.sum
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert upgrade in splunkclient-go
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test span attributes
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/graphql_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Rename tags.go to attribute.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/internal/attribute.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint issues
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/example_test.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/graphql.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/internal/attribute.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/graphql_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add splunkhttprouter instrumentation
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/README.md
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/example_test.go
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/httprouter.go
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/httprouter_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Go module dependencies - fix paths
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix paths
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Increase coverage
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix GoVet
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Increase timeout for k8s tests
  build/pipeline.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

[WIP] Add github.com/go-chi/chi instrumentation (#227)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  instrumentation/github.com/go-chi/chi/splunkchi/README.md
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
  instrumentation/github.com/go-chi/chi/splunkchi/example_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/option.go
  instrumentation/github.com/go-chi/chi/splunkchi/test/chi_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
