Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

Remove leftover comment
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade otel/sdk to 1.1.0
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add changes to the changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test for config.go and resolve panic bug
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add tests for db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add DB test for new iterators, snapshots, and transactions
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Handle nil config for resolveTracer
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add NewIterator tests for Snapshots and Transactions
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/snapshot_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test for iterator errors marking span errored
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add example_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/README.md
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/example_test.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test Transaction and Snapshot errors are forwarded
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix local-prefixes
  .golangci.yml
  build/pipeline.go
  distro/otel_test.go
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/config_test.go
  instrumentation/database/sql/splunksql/conn.go
  instrumentation/database/sql/splunksql/example_test.go
  instrumentation/database/sql/splunksql/stmt.go
  instrumentation/database/sql/splunksql/test/suite_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/carrier_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/example_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/kafka_test.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/sql_test.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/integration_test.go
  instrumentation/github.com/jackc/pgx/splunkpgx/sql.go
  instrumentation/github.com/jackc/pgx/splunkpgx/sql_test.go
  instrumentation/github.com/jackc/pgx/splunkpgx/test/integration_test.go
  instrumentation/github.com/jinzhu/gorm/splunkgorm/example_test.go
  instrumentation/github.com/jinzhu/gorm/splunkgorm/sql.go
  instrumentation/github.com/jinzhu/gorm/splunkgorm/sql_test.go
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/example_test.go
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/sql.go
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/sql_test.go
  instrumentation/github.com/lib/pq/splunkpq/sql.go
  instrumentation/github.com/lib/pq/splunkpq/sql_test.go
  instrumentation/github.com/lib/pq/splunkpq/test/integration_test.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
  instrumentation/github.com/miekg/dns/splunkdns/example_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/handler_test.go
  version_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use gofumpt and goimports instead of gofumports
  build/go.mod
  build/go.sum
  build/pipeline.go
  build/tools.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use gofumpt and goimports instead of gofumports (#214)
  .golangci.yml
  build/go.mod
  build/go.sum
  build/pipeline.go
  build/tools.go
  distro/otel_test.go
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/config_test.go
  instrumentation/database/sql/splunksql/conn.go
  instrumentation/database/sql/splunksql/example_test.go
  instrumentation/database/sql/splunksql/stmt.go
  instrumentation/database/sql/splunksql/test/suite_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/carrier_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/example_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/kafka_test.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/sql_test.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/integration_test.go
  instrumentation/github.com/jackc/pgx/splunkpgx/sql.go
  instrumentation/github.com/jackc/pgx/splunkpgx/sql_test.go
  instrumentation/github.com/jackc/pgx/splunkpgx/test/integration_test.go
  instrumentation/github.com/jinzhu/gorm/splunkgorm/example_test.go
  instrumentation/github.com/jinzhu/gorm/splunkgorm/sql.go
  instrumentation/github.com/jinzhu/gorm/splunkgorm/sql_test.go
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/example_test.go
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/sql.go
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/sql_test.go
  instrumentation/github.com/lib/pq/splunkpq/sql.go
  instrumentation/github.com/lib/pq/splunkpq/sql_test.go
  instrumentation/github.com/lib/pq/splunkpq/test/integration_test.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
  instrumentation/github.com/miekg/dns/splunkdns/example_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/handler_test.go
  version_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update README with suggested rephrasing
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update otel dependencies
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Run lint
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/example_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update otel dependencies (#215)
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/README.md
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Run go mod tidy
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add github.com/syndtr/goleveldb/leveldb instrumentation (#186)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/README.md
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/example_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/iterator.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/snapshot.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/snapshot_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/doc.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Adding instrumentation for github.com/tidwall/buntdb (WIP)
  CHANGELOG.md
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/doc.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

WiP: added instrumentation to remaining functions
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/doc.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add schema v1.7.0 URL to all instrumentation
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config_test.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Adding example
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Bump minimum supported version of Go to 1.16
  .github/workflows/ci.yml
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Bump minimum supported version of Go to 1.16 (#225)
  .github/workflows/ci.yml
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add k8s.io/client-go initial instrumentation
  .github/dependabot.yml
  instrumentation/k8s.io/client-go/splunkclient-go/README.md
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add config pkg
  instrumentation/k8s.io/client-go/splunkclient-go/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/config/config_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Move config package to internal
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Expose public options for configuration
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Restructure skeleton for instrumentation
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Implement instrumentation
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add example_test
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add Getting Started to README
  instrumentation/k8s.io/client-go/splunkclient-go/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add inst to main README
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers
