Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Initial project structure
  README.md
  instrumentation/github.com/globalsign/mgo/splunkmgo/README.md
  instrumentation/github.com/globalsign/mgo/splunkmgo/example_test.go
  instrumentation/github.com/globalsign/mgo/splunkmgo/go.mod
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add dependabot entry for splunkmgo
  .github/dependabot.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add splunkmgo Go pkg doc
  instrumentation/github.com/globalsign/mgo/splunkmgo/mgo.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add Dial* funcs to create Session
  instrumentation/github.com/globalsign/mgo/splunkmgo/go.mod
  instrumentation/github.com/globalsign/mgo/splunkmgo/go.sum
  instrumentation/github.com/globalsign/mgo/splunkmgo/mgo.go
  instrumentation/github.com/globalsign/mgo/splunkmgo/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix example_test.go with valid setup example
  instrumentation/github.com/globalsign/mgo/splunkmgo/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Implement traced methods of Session
  instrumentation/github.com/globalsign/mgo/splunkmgo/mgo.go
  instrumentation/github.com/globalsign/mgo/splunkmgo/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test module
  .github/dependabot.yml
  instrumentation/github.com/globalsign/mgo/splunkmgo/test/doc.go
  instrumentation/github.com/globalsign/mgo/splunkmgo/test/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add tests for Session ping functionality
  instrumentation/github.com/globalsign/mgo/splunkmgo/mgo.go
  instrumentation/github.com/globalsign/mgo/splunkmgo/test/go.mod
  instrumentation/github.com/globalsign/mgo/splunkmgo/test/go.sum
  instrumentation/github.com/globalsign/mgo/splunkmgo/test/mgo_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use default propagator const
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config for splunkclient-go (#293)
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update splunkbuntdb to use internal.Config (#290)
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/buntdb.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config in splunksql (#294)
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/config_test.go
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/database/sql/splunksql/trace.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config for splunkkafka (#292)
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/consumer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/consumer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/producer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config for splunkdns (#291)
  instrumentation/github.com/miekg/dns/splunkdns/client.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
  instrumentation/github.com/miekg/dns/splunkdns/dns.go
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/handler.go
  instrumentation/github.com/miekg/dns/splunkdns/option.go
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Support OTEL_PROPAGATORS in distro
  distro/config.go
  distro/config_test.go
  distro/otel.go
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Isolate distro pkg to fix test failure
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/example_test.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/example_test.go
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/lib/pq/splunkpq/example_test.go
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add distro README
  README.md
  distro/README.md
  distro/config.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Formatting and grammar fixes for distro/README.md
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Lazy load default propagator if unspecified
  distro/config.go
  distro/config_test.go
  distro/otel.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix WithEndpoint and WithAccessToken docs to match
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert Validate comment
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Simplify WithEndpoint default value doc
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add initial splunkelastic module
  .github/dependabot.yml
  README.md
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/README.md
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/example_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add initial instrumentation
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/README.md
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.sum
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/option.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Path parsing implementations and benchmarks
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/sanitize.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/sanitize_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Unify on the optimized tokenize
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/sanitize.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/sanitize_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Rename sanitize*.go to tokenize*.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Clean code and fix lint issues
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add general use example for v3 and v5
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/example_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add tokenize tests
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

lint cleanup
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/example_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.sum
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/tokenize_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add integration tests
  .github/dependabot.yml
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/doc.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Include v7 as supported
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/README.md
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/example_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.sum
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers
