Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

Update OTel dependencies to latest
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Filter tests in build pipeline (#151)
  .github/workflows/ci.yml
  .golangci.yml
  build/go.mod
  build/go.sum
  build/pipeline.go
  build/pipeline_test.go
  build/tools.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/integration_test.go
  instrumentation/github.com/jackc/pgx/splunkpgx/test/integration_test.go
  instrumentation/github.com/lib/pq/splunkpq/test/integration_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update OTel dependencies to latest (#154)
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Initial instrumentation for miekg/dns
  instrumentation/github.com/miekg/dns/splunkdns/client.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/dns.go
  instrumentation/github.com/miekg/dns/splunkdns/example_test.go
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/handler.go
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/doc.go
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/handler_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add dependabot config entry
  .github/dependabot.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add handler test for errors
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/handler_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add unit tests for config
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add README
  instrumentation/github.com/miekg/dns/splunkdns/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint
  instrumentation/github.com/miekg/dns/splunkdns/client.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/dns.go
  instrumentation/github.com/miekg/dns/splunkdns/example_test.go
  instrumentation/github.com/miekg/dns/splunkdns/handler.go
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/handler_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add instrumentation to the project README
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update docs
  instrumentation/github.com/miekg/dns/splunkdns/dns.go
  instrumentation/github.com/miekg/dns/splunkdns/example_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Initial project structure
  .github/dependabot.yml
  README.md
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/README.md
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/leveldb.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add config
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix spelling error
  instrumentation/github.com/miekg/dns/splunkdns/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Simplify duplicates in configuration
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Remove unnecessary defer from withSpan
  instrumentation/github.com/miekg/dns/splunkdns/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add initial instrumentation
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/leveldb.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade go.opentelemetry.io packages
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade otelhttp to v0.26.0
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade go.opentelemetry.io packages (#180)
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Review suggestions
  CHANGELOG.md
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix pkg name in changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Correct error assertion comment
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Centralize server shutdown with t.Cleanup
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade otel-go to 1.1.0
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add miekg/dns instrumentation (#155)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  instrumentation/github.com/miekg/dns/splunkdns/README.md
  instrumentation/github.com/miekg/dns/splunkdns/client.go
  instrumentation/github.com/miekg/dns/splunkdns/config.go
  instrumentation/github.com/miekg/dns/splunkdns/config_test.go
  instrumentation/github.com/miekg/dns/splunkdns/dns.go
  instrumentation/github.com/miekg/dns/splunkdns/example_test.go
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/handler.go
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/doc.go
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/handler_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Upgrade go.opentelemetry.io/otel to v1.1.0
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add compatibility section to README
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update exported type docs
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/leveldb.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Rename leveldb.go to db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Move Snapshot type to own file
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/snapshot.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Move Transaction type to own file
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Move iter type to own file
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/iterator.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update span creation
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/snapshot.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Initial integration testing
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/doc.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add DBOperationKey to all operations
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/db.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/snapshot.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add missing methods to Transaction and test
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/transaction.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test and update docs for the Iterator
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/iterator.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Switch parameter order for withTestingDeadline to fix lint
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add dependabot config for splunkleveldb/test
  .github/dependabot.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers
