Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Fix internal import version
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix spelling error in changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add #492 to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Apply suggestions from code review
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Release v0.8.0 (#726)
  CHANGELOG.md
  distro/go.mod
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/internal/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  version.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add a simple example
  example/Dockerfile
  example/README.md
  example/client/go.mod
  example/client/go.sum
  example/client/main.go
  example/docker-compose.yaml
  example/otel-config.yaml
  example/run.sh
  example/server/go.mod
  example/server/go.sum
  example/server/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Update to Go 1.16 and fix lint errors
  example/client/go.mod
  example/client/go.sum
  example/client/main.go
  example/server/go.mod
  example/server/go.sum
  example/server/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update ci.yml
  .github/workflows/ci.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Apply suggestions from code review
  example/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Address comments
  example/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add RUM instrumentation
  example/server/go.mod
  example/server/go.sum
  example/server/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update docs for launch
  CONTRIBUTING.md
  MIGRATING.md
  README.md
  docs/README.md
  docs/correlating-traces-and-logs.md
  docs/troubleshooting.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update main.go
  example/server/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fixes
  README.md
  docs/advanced-config.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix bare URL
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fixes
  CONTRIBUTING.md
  README.md
  docs/advanced-config.md
  docs/correlating-traces-and-logs.md
  docs/troubleshooting.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Final MD fixes
  CONTRIBUTING.md
  MIGRATING.md
  README.md
  docs/README.md
  docs/advanced-config.md
  docs/correlating-traces-and-logs.md
  docs/troubleshooting.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Last fixes
  docs/README.md
  docs/advanced-config.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update docs for launch (#731)
  CONTRIBUTING.md
  MIGRATING.md
  README.md
  docs/README.md
  docs/advanced-config.md
  docs/correlating-traces-and-logs.md
  docs/troubleshooting.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

make gendependabot
  .github/dependabot.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix OTLP endpoint when using SPLUNK_REALM
  CHANGELOG.md
  distro/config.go
  distro/exporter.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add ca-certificates.crt
  example/Dockerfile
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

bugfix
  example/client/main.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use TLS if connecting outside of localhost
  distro/exporter.go
  distro/exporter_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert changes to TLS configuration
  distro/exporter.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix OTLP endpoint when using SPLUNK_REALM (#791)
  CHANGELOG.md
  distro/config.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use current code instead of released version
  example/Dockerfile
  example/client/go.mod
  example/client/go.sum
  example/docker-compose.yaml
  example/run.sh
  example/server/go.mod
  example/server/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Change scripts
  example/README.md
  example/clean.sh
  example/run.sh
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add +x to scripts
  example/clean.sh
  example/run.sh
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Restructure docs
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/advanced-config.md
  docs/migrating.md
  docs/releasing.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update title caps
  docs/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix typo
  CONTRIBUTING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Refactor tests and comment code
  distro/exporter.go
  distro/exporter_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint
  distro/exporter.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add versions.yaml
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update versions.yaml
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Remove versions.yaml
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use ScopeSpans instead of deprecated method
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
