Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

fix: linter issues
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/consumer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/consumer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/doc.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/producer.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

./goyek.sh -v bump mod
  distro/go.mod
  distro/go.sum
  example/go.mod
  example/go.sum
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update example README.md
  example/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update example README.md (#2311)
  example/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Bump opentelemetry-collector-contrib to 0.80.0
  example/docker-compose.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Simplify traceProvider Shutdown
  distro/otel.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Simplify trace provider shutdown (#2313)
  distro/otel.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Apply suggestions from code review
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Bump opentelemetry-collector-contrib to 0.80.0 (#2312)
  example/docker-compose.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

re-org to v2/kafka
  .gitignore
  CHANGELOG.md
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/README.md
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/carrier.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/carrier_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/consumer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/consumer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/doc.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/example_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/producer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/producer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/test/doc.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/test/kafka_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/version.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Update README.md
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update .gitignore
  .gitignore
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Run go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add github.com/confluent-kafka-go/v2/kafka instrumentation (#2301)
  .gitignore
  CHANGELOG.md
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/README.md
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/carrier.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/carrier_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/consumer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/consumer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/doc.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/example_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/producer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/producer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/test/doc.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/test/kafka_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/v2/kafka/splunkkafka/version.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Bump versions.yaml
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add missing entries to versions.yaml
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update chagelong
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Run go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Run go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Run go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Run go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade the rest of distro deps on otel
  distro/go.mod
  distro/go.sum
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Downgrade jaeger for now
  distro/go.mod
  distro/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Removes obsolete pgx folder inside v5.
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/README.md
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/example_test.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/sql.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/sql_test.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/doc.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/integration_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Adds the `v5/pgx/splunkpgx` package to provide support for pgx v5 (5.4.3) while maintaining compatibility with v4.
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/README.md
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/example_test.go
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/sql.go
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/sql_test.go
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/test/doc.go
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jackc/pgx/v5/pgx/splunkpgx/test/integration_test.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Adds change entry to the `CHANGELOG.md`.
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Updates documentation and resolves import lib issues.
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/sql.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fixes linter comments.
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/README.md
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/sql_test.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.sum
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add v5/splunkpgx package to provide support for pgx/v5 (#2409)
  CHANGELOG.md
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/README.md
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/example_test.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/sql.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/sql_test.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/doc.go
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.sum
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/integration_test.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Updates pgx v5 test's dependency versions.
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Updates pgx v5 test's dependency versions. (#2411)
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.mod
  instrumentation/github.com/jackc/pgx/v5/splunkpgx/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

fix
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

fix
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
