Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

Fix typo in changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update hyperlink to example
  RELEASING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix typo in changelog (#1985)
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update hyperlink to example (#1986)
  RELEASING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add multimod to build/tools.go
  build/go.mod
  build/go.sum
  build/tools.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Remove old and prepare docs
  Makefile
  RELEASING.md
  pre_release.sh
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Implement releasing tasks
  RELEASING.md
  build/release.go
  versions.yaml
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Refactor
  build/prerelease.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update releasing docs
  RELEASING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Format yaml
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add test modules to versions.yaml
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Apply suggestions from code review
  RELEASING.md
  versions.yaml
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Automate releasing using `multimod` (#1989)
  Makefile
  RELEASING.md
  build/go.mod
  build/go.sum
  build/prerelease.go
  build/release.go
  pre_release.sh
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add internal.WithVersion
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
  instrumentation/internal/go.mod
  instrumentation/internal/option.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Apply version for all instrumentations
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/version.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/version.go
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
  instrumentation/github.com/go-chi/chi/splunkchi/version.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/version.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/graphql.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/version.go
  instrumentation/github.com/miekg/dns/splunkdns/client.go
  instrumentation/github.com/miekg/dns/splunkdns/dns.go
  instrumentation/github.com/miekg/dns/splunkdns/handler.go
  instrumentation/github.com/miekg/dns/splunkdns/version.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/version.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/version.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/version.go
  instrumentation/internal/config.go
  instrumentation/internal/config_test.go
  instrumentation/internal/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/version.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Bring back otel-config.yaml
  example/otel-config.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add version to distro
  distro/otel.go
  distro/version.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  example/go.mod
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix typo
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add a test
  instrumentation/database/sql/splunksql/test/suite_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix lint
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/version.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add unit test to splunkkafka
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/kafka_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix test
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/kafka_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add missing unit tests
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/chi_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/redis_test.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/graphql_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/splunkclient-go_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert "Bring back otel-config.yaml"
  example/otel-config.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert "Delete unsed otel-config.yaml (#1959)"
  example/otel-config.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert "Delete unsed otel-config.yaml (#1959)" (#1991)
  example/otel-config.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add Version functions
  distro/otel.go
  distro/version.go
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/version.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/version.go
  instrumentation/github.com/go-chi/chi/splunkchi/chi.go
  instrumentation/github.com/go-chi/chi/splunkchi/version.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/example_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/version.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/graphql.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/version.go
  instrumentation/github.com/miekg/dns/splunkdns/client.go
  instrumentation/github.com/miekg/dns/splunkdns/dns.go
  instrumentation/github.com/miekg/dns/splunkdns/handler.go
  instrumentation/github.com/miekg/dns/splunkdns/version.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/config.go
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/version.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/config.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/version.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/elastic.go
  instrumentation/k8s.io/client-go/splunkclient-go/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
  instrumentation/k8s.io/client-go/splunkclient-go/version.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Cleanup tests
  distro/go.mod
  distro/otel_test.go
  example/go.sum
  instrumentation/database/sql/splunksql/test/db_metrics_test.go
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/database/sql/splunksql/test/suite_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/kafka_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/test/chi_test.go
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/redis_test.go
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/graphql_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/client_test.go
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/splunkleveldb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/buntdb_test.go
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/elastic_test.go
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/splunkclient-go_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix splunkredigo
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/redis_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers
