Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

Upgrade k8s.io apimachinery and client-go to v0.23.1
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Restrict splunkclient-go to 1.17
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Explicitly forbid builds prior to 1.17
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/example_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/splunkclient-go_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add Changelog entry
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade k8s.io apimachinery and client-go to v0.23.1 (#296)
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/doc.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/example_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/splunkclient-go_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use internal.Config for splunkclient-go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config.go
  instrumentation/k8s.io/client-go/splunkclient-go/internal/config/config_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option.go
  instrumentation/k8s.io/client-go/splunkclient-go/option/option_test.go
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/transport.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add Splunk notice to README
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update README.md
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add Splunk notice to README (#301)
  README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Support OTEL_PROPAGATORS in distro
  distro/config.go
  distro/config_test.go
  distro/otel.go
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert upgrade to otel v1.3
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Isolate distro pkg to fix test failure
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/example_test.go
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/example_test.go
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/lib/pq/splunkpq/example_test.go
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add distro README
  README.md
  distro/README.md
  distro/config.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Formatting and grammar fixes for distro/README.md
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Lazy load default propagator if unspecified
  distro/config.go
  distro/config_test.go
  distro/otel.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix WithEndpoint and WithAccessToken docs to match
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert Validate comment
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Simplify WithEndpoint default value doc
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Support OTEL_PROPAGATORS in distro
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Revert upgrade to otel v1.3
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Support OTEL_TRACES_EXPORTER in distro
  distro/config.go
  distro/otel.go
  go.mod
  go.sum
  instrumentation/database/sql/splunksql/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/go.sum
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.sum
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/go.sum
  instrumentation/github.com/miekg/dns/splunkdns/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.sum
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.sum
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.sum
  instrumentation/k8s.io/client-go/splunkclient-go/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add exporterConfig validation
  distro/config.go
  distro/config_test.go
  go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Lazy evaluate TraceExporterFunc
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/miekg/dns/splunkdns/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/database/sql/splunksql/test/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.sum
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.sum
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.sum
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.sum
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.sum
  instrumentation/github.com/lib/pq/splunkpq/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add github.com/gomodule/redigo instrumentation (#288)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  instrumentation/github.com/gomodule/redigo/splunkredigo/README.md
  instrumentation/github.com/gomodule/redigo/splunkredigo/doc.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/example_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/option/option.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/conn_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/dial_test.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/doc.go
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.sum
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/redis_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Add config docs to distro/README.md
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix default OTLP endpoint
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Test for goroutine leaks with goleak
  distro/otel_test.go
  go.mod
  go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Document WithEndpoint per exporter configuration
  distro/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Honor OTel envars before default endpoints
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers
