Repository signalfx/splunk-otel-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Sync with contrib
  distro/go.mod
  distro/go.sum
  example/go.mod
  example/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Upgrade contrib
  distro/go.mod
  distro/go.sum
  example/go.mod
  example/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.sum
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.sum
  instrumentation/net/http/splunkhttp/go.mod
  instrumentation/net/http/splunkhttp/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix splunksql metrics
  instrumentation/database/sql/splunksql/metrics.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Drop support for Go 1.18
  .github/workflows/ci.yml
  CHANGELOG.md
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Fix MD034/no-bare-urls
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add go.work to .gitignore
  .gitignore
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Remove in-repo docs
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/correlating-traces-and-logs.md
  docs/migrating.md
  docs/troubleshooting.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

build: Add formods task
  build/formods.go
  build/release.go
  goyek.sh
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

refine build validation
  build/formods.go
  build/release.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

go mod tidy
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Remove in-repo docs (#2176)
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/correlating-traces-and-logs.md
  docs/migrating.md
  docs/troubleshooting.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Prepare for OTel bump
  distro/otel.go
  distro/otel_test.go
  docs/README.md
  instrumentation/database/sql/splunksql/test/db_metrics_test.go
  instrumentation/internal/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers, @signalfx/gdi-docs

Remove doc
  docs/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

splunksql: Add WithMeterProvider
  CHANGELOG.md
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/test/db_metrics_test.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Make OTLP as default metrics exporter
  distro/config.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Move package comment to doc.go
  distro/doc.go
  distro/otel.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update tests
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

refactor test
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

splunksql: Add WithMeterProvider (#2258)
  CHANGELOG.md
  instrumentation/database/sql/splunksql/config.go
  instrumentation/database/sql/splunksql/test/db_metrics_test.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

distro: OTEL_METRICS_EXPORTER defaults to otlp (#2259)
  CHANGELOG.md
  distro/config.go
  distro/doc.go
  distro/otel.go
  distro/otel_test.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update versions.yaml
  versions.yaml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

nit: Add blank line
  RELEASING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Update go to 1.19 in go.mod files
  distro/go.mod
  example/go.mod
  go.mod
  instrumentation/database/sql/splunksql/go.mod
  instrumentation/database/sql/splunksql/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/splunkkafka/test/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/go.mod
  instrumentation/github.com/go-chi/chi/splunkchi/test/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/go.mod
  instrumentation/github.com/go-sql-driver/mysql/splunkmysql/test/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/go.mod
  instrumentation/github.com/gomodule/redigo/splunkredigo/redis/test/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/go.mod
  instrumentation/github.com/graph-gophers/graphql-go/splunkgraphql/test/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/go.mod
  instrumentation/github.com/jackc/pgx/splunkpgx/test/go.mod
  instrumentation/github.com/jinzhu/gorm/splunkgorm/go.mod
  instrumentation/github.com/jmoiron/sqlx/splunksqlx/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/go.mod
  instrumentation/github.com/julienschmidt/httprouter/splunkhttprouter/test/go.mod
  instrumentation/github.com/lib/pq/splunkpq/go.mod
  instrumentation/github.com/lib/pq/splunkpq/test/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/go.mod
  instrumentation/github.com/miekg/dns/splunkdns/test/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/go.mod
  instrumentation/github.com/syndtr/goleveldb/leveldb/splunkleveldb/test/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/go.mod
  instrumentation/github.com/tidwall/buntdb/splunkbuntdb/test/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/go.mod
  instrumentation/gopkg.in/olivere/elastic/splunkelastic/test/go.mod
  instrumentation/internal/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/go.mod
  instrumentation/k8s.io/client-go/splunkclient-go/transport/test/go.mod
  instrumentation/net/http/splunkhttp/go.mod
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

distro: Set none exporters in TestMain
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

distro: Refactor assertions
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Refactor
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

distro: Set none exporters in TestMain (#2263)
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

distro: Refactor assertions (#2264)
  distro/otel_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Add depguard config to golangci-lint
  .golangci.yml
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Use http.NoBody
  instrumentation/net/http/splunkhttp/handler_test.go
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

Run go mod tidy
  example/go.mod
  example/go.sum
Owners: @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

docs: Require CLA
  CONTRIBUTING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

docs: Require CLA (#2302)
  CONTRIBUTING.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

add instrumentation pkg of confluent-kafka-go/kafka/v2
  CHANGELOG.md
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/README.md
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/carrier.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/carrier_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/config.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/config_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/consumer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/consumer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/doc.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/example_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/producer.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/producer_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/test/doc.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/test/go.mod
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/test/go.sum
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/test/kafka_test.go
  instrumentation/github.com/confluentinc/confluent-kafka-go/kafka/v2/splunkkafka/version.go
Owners: @signalfx/gdi-docs, @signalfx/gdi-go-maintainers, @signalfx/gdi-go-approvers

.github/CODEOWNERS:

* @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers

CODEOWNERS @signalfx/gdi-go-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
README* @signalfx/gdi-docs @signalfx/gdi-go-maintainers @signalfx/gdi-go-approvers
